{% extends 'base2.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link rel="icon" type="image/png" href="{{ asset('Back/table/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Back/table/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Back/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Back/table/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Back/table/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Back/table/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Back/table/css/util.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('Back/table/css/main.css') }}">
<!--===============================================================================================-->

{% endblock %}

{% block content %}
fghjklmù
    <div style="margin-left: 200px;" class="limiter">
    <div class="container-table100">
    <div class="wrap-table100">
    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                <tr class="row100 head">
                    <th class="cell100 column1">Title</th>
                    <th class="cell100 column2">Description</th>
                    <th class="cell100 column3">Due Date</th>
                    <th class="cell100 column4">Debut hour</th>
                    <th class="cell100 column5">Final Hour</th>
                    <th class="cell100 column6">Type</th>
                    <th class="cell100 column7">Capacity</th>
                    <th class="cell100 column8">Modify</th>
                    <th class="cell100 column9">Delete</th>
                    <th class="cell100 column9">PDF SECTION</th>


                </tr>
                </thead>
            </table>
        </div>

        <div class="table100-body js-pscroll">
            <table>
                {% for i in Clubs %}
                <tbody>
                <tr class="row100 body">
                    <td class="cell100 column1">{{ i.title }}</td>
                    <td class="cell100 column2">{{i.description  }}</td>
                    <td class="cell100 column3">{{i.date}}</td>
                    <td class="cell100 column4">{{ i.heurDeb }}</td>
                    <td class="cell100 column5">{{i.heureFin}}</td>
                    <td class="cell100 column6">{{i.type}}</td>
                    <td class="cell100 column7">{{i.capacite}}</td>
                    <td class="cell100 column8"><a href="{{  path ('modifierEvent' , {'id' : i.id}) }}">Modify</a></td>
                    <td class="cell100 column9"><a href="{{  path ('supprimerEvent' , {'id' : i.id}) }}">Delete</a></td>
                    <td class="cell100 column9"><a href="{{  path ('pdf' , {'id' : i.id}) }}">Get your PDF now</a></td>


                </tr>


                </tbody>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(Clubs) }}
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>







    <!--===============================================================================================-->
    <script src="{{ asset('Back/table/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('Back/table/vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ asset('Back/table/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('Back/table/vendor/select2/select2.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('Back/table/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script>
        $('.js-pscroll').each(function(){
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function(){
                ps.update();
            })
        });


    </script>
    <!--===============================================================================================-->
    <script src="{{ asset('Back/table/js/main.js') }}"></script>
{% endblock %}