{% extends 'base2.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('Back/form/css/main.css') }}" rel="stylesheet" media="all" xmlns="http://www.w3.org/1999/html">

    <link rel="icon" type="image/png" href="{{ asset('Back/form/images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Back/form/css/main.css') }}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <meta charset="utf-8">
{% endblock %}
{% block content %}
    <div class="container-contact100">
        <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

        <div class="contact100-more">
            <i class="zmdi zmdi-phone-in-talk"></i>
            (+100) 345 6389
        </div>

        <div class="wrap-contact100">
            {{ form_start(fo) }}
				<span class="contact100-form-title">
					New event to add :
				</span>

                <div class="wrap-input100 validate-input" data-validate="Title is required">
                    {{ form_label(fo.title, "Title", {'label_attr' : {'class' : 'label-input100'}}) }}
                    {{ form_widget(fo.title, { 'attr': {'class': 'input100' , 'placeholder' : 'title ...'} }) }}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "description is required">
                    {{ form_label(fo.description, "Description" ,  {'label_attr' : {'class' : 'label-input100'}}) }}

                    {{ form_widget(fo.description, { 'attr': {'class': 'input100' , 'placeholder' : 'Description ...'} }) }}

                    <span class="focus-input100"></span>
                </div>


                <div class="ui container" style=" margin-left: -150px;">


                    <div class="wrap-input100" id="example2" style="margin-bottom: 25px;">
                        {{ form_label(fo.date,"Due Date" ,  {'label_attr' : {'class' : 'label-input100'}}) }}

                    </br>
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            {{ form_widget(fo.date, { 'attr': {'class': 'input100' , 'autocomplete' : 'off' , 'placeholder' : 'Due Date ...'} }) }}

                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <br/>

                    <div class="wrap-input100" id="example3" style="margin-bottom: 25px;">
                        {{ form_label(fo.heurDeb, "Debut hour" , {'label_attr' : {'class' : 'label-input100'}}) }}

                        </br>

                        <div class="ui input left icon">
                            <i class="time icon"></i>

                            {{ form_widget(fo.heurDeb, { 'attr': {'class': 'input100' , 'autocomplete' : 'off' , 'placeholder' : 'Debut ...'} }) }}

                            <span class="focus-input100"></span>

                        </div>
                    </div>

                    <br/>

                    <div class="wrap-input100" id="example6">
                        {{ form_label(fo.heureFin,"Final Hour" ,  {'label_attr' : {'class' : 'label-input100'}}) }}
                        </br>

                        <div class="ui input left icon">
                            <i class="time icon"></i>

                            {{ form_widget(fo.heureFin, { 'attr': {'class': 'input100' , 'autocomplete' : 'off' , 'placeholder' : 'Final ...'} }) }}

                            <span class="focus-input100"></span>

                        </div>
                    </div>
                    <br/>





                </div>
            </br>

                <script>
                    $('#example1').calendar();
                    $('#example2').calendar({
                        type: 'date'
                    });
                    $('#example3').calendar({
                        type: 'time'
                    });
                    $('#rangestart').calendar({
                        type: 'date',
                        endCalendar: $('#rangeend')
                    });
                    $('#rangeend').calendar({
                        type: 'date',
                        startCalendar: $('#rangestart')
                    });
                    $('#example4').calendar({
                        startMode: 'year'
                    });
                    $('#example5').calendar();
                    $('#example6').calendar({
                        ampm: false,
                        type: 'time'
                    });
                    $('#example7').calendar({
                        type: 'month'
                    });
                    $('#example8').calendar({
                        type: 'year'
                    });
                    $('#example9').calendar();
                    $('#example10').calendar({
                        on: 'hover'
                    });
                    var today = new Date();
                    $('#example11').calendar({
                        minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate() - 5),
                        maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate() + 5)
                    });
                    $('#example12').calendar({
                        monthFirst: false
                    });
                    $('#example13').calendar({
                        monthFirst: false,
                        formatter: {
                            date: function (date, settings) {
                                if (!date) return '';
                                var day = date.getDate();
                                var month = date.getMonth() + 1;
                                var year = date.getFullYear();
                                return day + '/' + month + '/' + year;
                            }
                        }
                    });
                    $('#example14').calendar({
                        inline: true
                    });
                    $('#example15').calendar();
                </script>
            <style>
                .button2 {
                    transition-duration: 0.4s;
                }

                .button2:hover {
                    background-color: #1a252f; /* Green */
                    color: white;
                }
            </style>
            <div class="value">
                <div class="input-group js-input-file">

                    {{ form_widget(fo.pic, { 'attr': {'class': 'button2'  ,  'type' : 'file' , 'name' : 'pic' , 'id' : 'file'} }) }}

                </div>
                <div class="label--desc" style="font-size: 20px;">Upload your picture</div>
            </div>

            <div class="wrap-input100" id="example2" style="margin-top: 25px;">
                {{ form_label(fo.capacite,"Capacity" ,  {'label_attr' : {'class' : 'label-input100'}}) }}

                </br>
                <div class="ui input left icon">
                    {{ form_widget(fo.capacite, { 'attr': {'class': 'input100'  , 'type' : 'number' , 'step' : '1' } }) }}
                </br>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <style>


    .box {
margin-top: 20px;
    }

    .box select {
        background-color: #1B242F;
        color: white;
        padding: 12px;
        width: 250px;
        border: none;
        font-size: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
    }

    .box::before {
        content: "\f13a";
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 45px;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
    }

    .box:hover::before {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .box select option {
        padding: 30px;
    }
</style>

            <div class="box">
                {{ form_label(fo.type,"Type : ", { 'label_attr': {'class': 'label-input100'  } }) }}
                <br/>

                {{ form_widget(fo.type) }}


                <div id="dropDownSelect1"></div>

            </div>


            <div class="box" style="margin-top: 25px;">
                {{ form_label(fo.lieu,"Lieu : ", { 'label_attr': {'class': 'label-input100'  } }) }}
            </br>
                {{ form_widget(fo.lieu) }}

                <div id="dropDownSelect1"></div>

            </div>




                <div class="container-contact100-form-btn" style="margin-top: 50px;">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        {{ form_widget(fo.save, { 'attr': {'class': 'contact100-form-btn' , 'value' : 'save' } }) }}


                    </div>
                </div>
            </form>
            {{ form_end(fo) }}
        </div>
    </div>




{% endblock %}
{%  block javascript %}
{{ parent() }}
 <!-- Jquery JS-->
   <script src="{{ asset('Back/form/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('Back/form/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('Back/form/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ asset('Back/form/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('Back/form/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('Back/form/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ asset('Back/form/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('Back/form/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="{{ asset('Back/form/js/map-custom.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('Back/form/js/main.js') }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

{% endblock %}