{%  extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}

{% endblock %}
{% block content %}

    <div class="bikes">
    <div class="mountain-sec">



        <div class="span3 widget-span widget-type-raw_html custom-search" style="" data-widget-type="raw_html" data-x="4" data-w="3">
            <div class="cell-wrapper layout-widget-wrapper">
    <span id="hs_cos_wrapper_module_14308928327274411" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><form method="GET" action="https://www.shopwithscrip.com/Search?" role="search" class="navbar-form navbar-left ng-pristine ng-valid" id="express-form" novalidate="">
<input required="" name="q" placeholder="Search"  id="search" class="form-control tt-input" id="express-form-typeahead" autocomplete="off" spellcheck="false" dir="auto" type="text">
<button class="search-btn" type="submit"><span class="icon"></span></button>
    </form>
    </span>
            </div>
            <!--end layout-widget-wrapper -->
        </div>
        <ul class="nav1" id="side-menu">
            <li>
                <ul class="nav1 nav-second-level" id="entitiesNav">
                </ul>
            </li>
        </ul><br><br><br><br>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                var searchRequest = null;
                $("#search").keyup(function() {
                    var minlength = 1;
                    var that = this;
                    var value = $(this).val();
                    var entitySelector = $("#entitiesNav").html('');
                    if (value.length >= minlength ) {
                        if (searchRequest != null)
                            searchRequest.abort();
                        searchRequest = $.ajax({
                            type: "GET",
                            url: "{{ path('ajax_search') }}",
                            data: {
                                'q' : value
                            },
                            dataType: "text",
                            success: function(msg){
                                //we need to check if the value is the same
                                if (value===$(that).val()) {
                                    var result = JSON.parse(msg);
                                    $.each(result, function(key, arr) {
                                        $.each(arr, function(id, value) {
                                            if (key === 'posts') {
                                                if (id !== 'error') {
                                                    console.log(value[1]);
                                                    entitySelector.append('<li><b>'+value[1]+'</b><a href="/bascla/detailEvent/'+id+'">'+'</a></li>');
                                                } else {
                                                    entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                }
                                            }
                                        });
                                    });
                                }
                            }
                        });
                    }
                });
            });
        </script>
        <h2>Events</h2>
        {% for i in Clubs %}
        <a href="single.html"><div class="bike">
                <img src="images/bik3.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>{{i.title}}<span>{{i.date}}</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">Participer</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="{{ path('detailEvent', {'id' : i.id}
                    ) }}">Quick Informations</a>
                </div>
            </div></a>


        {% endfor %}

        <div class="clearfix"></div>
    </div>





{% endblock %}