
{%  extends 'base.html.twig' %}

{% block header %}
    {{ parent() }}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


{% endblock %}

{% block content %}
<style>
@keyframes radious {
  100%,
  0% {
    border-radius: 35% 65% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 35% 65% 50% 50% / 35% 65% 35% 65%;
  }
  40% {
    border-radius: 35% 65% 65% 35% / 65% 50% 50% 35%;
  }
  60% {
    border-radius: 35% 65% 50% 50% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 40% 60% / 40% 50% 50% 60%;
  }
}

@keyframes blob_a {
  100%,
  0% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotateY(10deg) scale(1.2);
  }
}

@keyframes blob_b {
  100%,
  0% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotate(-200deg) scale(1.2);
  }
}

html, body {
  margin: 0;
  padding: 0;
}

.box {
  position: relative;
  margin: 5rem auto;
  background-image: linear-gradient(to right, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
  overflow: hidden;
}

.box .wave {
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;
}

.box img.wave[src*="top"] {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: -1px;
}

.box .inner {
  position: relative;
  z-index: 1;
}

.box .inner h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.6em;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 12px rgba(0,0,0,.15);
}

.box .blob b {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 70%;
  background-image: linear-gradient(to right, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
  border-radius: 30% 70% 20% 40%;
  opacity: .25;
  animation:
    transform 20s ease-in-out infinite both alternate,
    blob_a 40s ease-in-out infinite both;
}

.box .blob b:first-child {
  width: 1000px;
  height: 1000px;
  top: -250px;
  left: -500px;
  transform: rotate(-180deg);
  animation:
    radious 30s ease-in-out infinite both alternate,
    blob_b 60s ease-in-out infinite both;
}
</style>
<section class="box">

  <img src="http://www.tobiasbogliolo.com/docs/codepen/assets/img/wave.png?top" alt="" class="wave">

  <div class="inner">
    <h1>Our events</h1>
  </div>

  <div class="blob">
    <b></b>
    <b></b>
  </div>

  <img src="http://www.tobiasbogliolo.com/docs/codepen/assets/img/wave.png" alt="" class="wave">

</section>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">


    <div class="bikes">
    <div class="mountain-sec">
<style>
.search {
	position: absolute;
	margin: auto;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background: crimson;
	border-radius: 50%;
	transition: all 1s;
	z-index: 4;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);}
.search:hover {
	 cursor: pointer;
 }
.search::before {
	 content: "";
	 position: absolute;
	 margin: auto;
	 top: 22px;
	 right: 0;
	 bottom: 0;
	 left: 22px;
	 width: 12px;
	 height: 2px;
	 background: white;
	 transform: rotate(45deg);
	 transition: all .5s;
 }
.search::after {
	 content: "";
	 position: absolute;
	 margin: auto;
	 top: -5px;
	 right: 0;
	 bottom: 0;
	 left: -5px;
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 border: 2px solid white;
	 transition: all .5s;
 }

input {
	font-family: 'Inconsolata', monospace;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background: crimson;
	color: white;
	text-shadow: 0 0 10px crimson;
	padding: 0 80px 0 20px;
	border-radius: 30px;
	box-shadow: 0 0 25px 0 crimson,
	0 20px 25px 0 rgba(0, 0, 0, 0.2);
	transition: all 1s;
	opacity: 0;
	z-index: 5;
	font-weight: bolder;
	letter-spacing: 0.1em;}
input:hover {
	 cursor: pointer;
 }
input:focus {
	 width: 300px;
	 opacity: 1;
	 cursor: text;
 }
input:focus ~ .search {
	 right: -250px;
	 background: #151515;
	 z-index: 6;}
input::before {
	 top: 0;
	 left: 0;
	 width: 25px;
 }
input::after {
	 top: 0;
	 left: 0;
	 width: 25px;
	 height: 2px;
	 border: none;
	 background: white;
	 border-radius: 0%;
	 transform: rotate(-45deg);
 }

input::placeholder {
	 color: white;
	 opacity: 0.5;
	 font-weight: bolder;
 }


</style>


        <ul class="nav1" style="
        bottom: 700px; left: 500px;" id="side-menu">
                <ul class="nav1 nav-second-level" id="entitiesNav">
                </ul>
        </ul><br><br><br><br>
        <div style="margin-top: 500px;" class="container2" >
            <input type="text" id="search" placeholder="Search...">
            <div class="search"></div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                var searchRequest = null;
                $("#search").keyup(function() {
                    var minlength = 1;
                    var that = this;
                    var value = $(this).val();
                    var entitySelector = $("#entitiesNav").html('');
                    if (value.length >= minlength ) {
                        if (searchRequest != null)
                            searchRequest.abort();
                        searchRequest = $.ajax({
                            type: "GET",
                            url: "{{ path('ajax_search') }}",
                            data: {
                                'q' : value
                            },
                            dataType: "text",
                            success: function(msg){
                                //we need to check if the value is the same
                                if (value===$(that).val()) {
                                    var result = JSON.parse(msg);
                                    $.each(result, function(key, arr) {
                                        $.each(arr, function(id, value) {
                                            if (key === 'posts') {
                                                if (id !== 'error') {
                                                    console.log(value[1]);
                                                    entitySelector.append('<p  style="font-size: 20px; font-family: lato Light ; "><a href="/bascla/web/app_dev.php/bascla/detailEvent/'+id+'">'+value[0]+'</a></p><p  style="font-size: 10px; font-family: Lato Heavy ; ">'+value[1]+'</p>');
                                                } else {
                                                    entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                }
                                            }
                                        });
                                    });
                                }
                            }
                        });
                    }
                });
            });
        </script>

<script>
if ( navigator.platform.indexOf('Win') != -1 ) {
  window.document.getElementById("wrapper").setAttribute("class", "windows");
} else if ( navigator.platform.indexOf('Mac') != -1 ) {
  window.document.getElementById("wrapper").setAttribute("class", "mac");
}
</script>


            {% for i in Clubs %}

        <a href="single.html"><div class="bike">
                <img style="height: 150px;" src="{{ asset('uploads/images/') }}{{ i.pic}}" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>{{i.title}}<span>{{i.date}}</span></h4>
                    </div>
                    <div class="bike-cart">
                     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                         {% set V = false %}
                         {% for j in pp if not V%}

                           {% if j.idClient == user.id and j.idEvent == i.id  %}

                                 {% if j.etat == 1 %}

                     <a class="buy"  href=" {{ path('annuler', {'id' : user.id , 'ev': i.id }) }}" > Annuler </a>

<button type="button"  data-toggle="modal" data-target="#exampleModal">
participant</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Participant for this event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {%   for ip in pp  if ip.idEvent == i.id %}
                                        <div class="form-group">
                                            <label for="usrname" style="font-size: 20px; font-family: 'Lato Heavy'; color: #0b3564;"><span class="glyphicon glyphicon-user"></span> {{ip.nomP}}</label>

                                        </div>

                                        {% endfor %}
                          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

                     {% else %}
                                     <div>Une invitation a été envoyée à l'Admin</div>
                                         <a class="buy"  href=" {{ path('annuler', {'id' : user.id , 'ev': i.id }) }}" > Annuler </a>
                                {% endif %}

                                         {% set V = true %}
                           {% endif %}

                         {% endfor %}
                         {% if V == false %}
                             <a class="buy" id = "myDIV"  href=" {{ path('participation', {'id' : user.id , 'ev': i.id }) }}">Participer</a>

                         {% endif %}



                     {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}

                            <a class="buy" href="{{ path("fos_user_security_login") }}">Participer</a>

                     {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="{{ path('detailEvent', {'id' : i.id}
                    ) }}">Quick Informations</a>
                </div>
            </div></a>


        {% endfor %}

        <div class="clearfix"></div>


    </div>




{% endblock %}
{% block javascripts %}
{{ parent() }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}