{%  extends 'base2.html.twig' %}
{% block content %}

<div class="count">

</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <center> <h3 >VELO A LOUER</h3></center>
        </div>
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table header-border table-responsive-sm text-muted">






                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Marque</th>
                        <th>Prix</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th> <center> </center></th>
                    </tr>
                    </thead>

                    {# table body #}
                    {% for article in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ article.id }}</td>
                            <td>{{ article.marque }}</td>
                            <td>{{ article.prix }}</td>
                            <td>{{ article.description }}</td>
                            <td>{{ article.type }}</td>


                            <td>



                                <center> <a href="{{ path('velovendre_edit', { 'id': article.id })  }}"class="btn btn-outline-success">edit</a></center>
                            </td>
                            <td><center> <a href="{{ path('pdf1', { 'id': article.id }) }} "style=" color: #0b0b0b;height: 2px;width: 5px" class="fa" ><h4 >
                                            <i style="font-size:22px" class="fa" href="{{ path('pdf', { 'id': article.id }) }} ">&#xf15b;</i></a></h4></center>

                            </td>
                        </tr>

                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

                {% endblock %}
