{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}

{% endblock %}
{% block content %}
    <h1>Velolouer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ velolouer.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ velolouer.prix }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ velolouer.marque }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ velolouer.description }}</td>
            </tr>
            <tr>
                <th>Pathphoto</th>
                <td>{{ velolouer.pathPhoto }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ velolouer.nombre }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ velolouer.etat }}</td>
            </tr>
            <tr>
                <th>Categorieid</th>
                <td>{{ velolouer.categorieId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('velolouer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('velolouer_edit', { 'id': velolouer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
