{%  extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}

{% endblock %}
{% block content %}

    <script type="text/javascript" src="{{  asset('Front/js/responsiveslides.min.js') }}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 2000,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <div  class="categories">
        <div class="dwn" style="margin-bottom: 80px;" >
            <a class="scroll" href="#cate"><img  src="{{ asset('Front/images/scroll.png') }}" alt=""/></a>
        </div>
<div class="caption" style="margin-top: 100px ;margin-bottom: 150px;">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li><h1>HANDMADE BICYCLE</h1></li>
                    <li><h1>SPEED BICYCLE</h1></li>
                    <li><h1>MOUINTAIN BICYCLE</h1></li>
                </ul>
                <p>You <span>create</span> the <span>journey,</span> we supply the <span>parts</span></p>
                <a class="morebtn" href="{{ path('products') }}">SHOP BIKES</a>
            </div>
        </div>

</div>

        <div class="container">
            <h3>CATEGORIES</h3>
            <div class="categorie-grids">
                <a href="bicycles.html"><div class="col-md-4 cate-grid grid1">
                        <h4>FIXED / SINGLE SPEED</h4>
                        <p>Are you ready for the 27.5 Revloution ?</p>
                        <a class="store" href="bicycles.html">GO TO STORE</a>
                    </div></a>
                <a href="bicycles.html"><div class="col-md-4 cate-grid grid2">
                        <h4>PREMIMUM SERIES</h4>
                        <p>Exclusive Bike Components</p>
                        <a class="store" href="bicycles.html">GO TO STORE</a>
                    </div></a>
                <a href="bicycles.html"><div class="col-md-4 cate-grid grid3">
                        <h4>CITY BIKES</h4>
                        <p>Street Playground</p>
                        <a class="store" href="bicycles.html">GO TO STORE</a>
                    </div></a>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!--bikes-->
    <!---728x90--->

    <div id="cate" class="bikes">
        <h3>POPULAR BIKES</h3>
        <div class="bikes-grids">
            <ul id="flexiselDemo1">
                <li>
                    <img src="{{ asset('Front/images/bik1.jpg') }}" alt=""/>
                    <div class="bike-info">
                        <div class="model">
                            <h4>FIXED GEAR<span>$249.00</span></h4>
                        </div>
                        <div class="model-info">
                            <select>
                                <option value="volvo">OPTION</option>
                                <option value="saab">Option</option>
                                <option value="opel">Option</option>
                                <option value="audi">Option</option>
                            </select>
                            <a href="bicycles.html">BUY</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="viw">
                        <a href="bicycles.html">Quick View</a>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('Front/images/bik2.jpg') }}" alt=""/>
                    <div class="bike-info">
                        <div class="model">
                            <h4>BIG BOY ULTRA<span>$249.00</span></h4>
                        </div>
                        <div class="model-info">
                            <select>
                                <option value="volvo">OPTION</option>
                                <option value="saab">Option</option>
                                <option value="opel">Option</option>
                                <option value="audi">Option</option>
                            </select>
                            <a href="bicycles.html">BUY</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="viw">
                        <a href="bicycles.html">Quick View</a>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('Front/images/bik3.jpg') }}" alt=""/>
                    <div class="bike-info">
                        <div class="model">
                            <h4>ROCK HOVER<span>$300.00</span></h4>
                        </div>
                        <div class="model-info">
                            <select>
                                <option value="volvo">OPTION</option>
                                <option value="saab">Option</option>
                                <option value="opel">Option</option>
                                <option value="audi">Option</option>
                            </select>
                            <a href="bicycles.html">BUY</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="viw">
                        <a href="bicycles.html">Quick View</a>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('Front/images/bik4.jpg') }}" alt=""/>
                    <div class="bike-info">
                        <div class="model">
                            <h4>SANSACHG<span>$249.00</span></h4>
                        </div>
                        <div class="model-info">
                            <select>
                                <option value="volvo">OPTION</option>
                                <option value="saab">Option</option>
                                <option value="opel">Option</option>
                                <option value="audi">Option</option>
                            </select>
                            <a href="bicycles.html">BUY</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="viw">
                        <a href="bicycles.html">Quick View</a>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('Front/images/bik5.jpg') }}" alt=""/>
                    <div class="bike-info">
                        <div class="model">
                            <h4>JETT MAC<span>$340.00</span></h4>
                        </div>
                        <div class="model-info">
                            <select>
                                <option value="volvo">OPTION</option>
                                <option value="saab">Option</option>
                                <option value="opel">Option</option>
                                <option value="audi">Option</option>
                            </select>
                            <a href="bicycles.html">BUY</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="viw">
                        <a href="bicycles.html">Quick View</a>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('Front/images/bik6.jpg') }}" alt=""/>
                    <div class="bike-info">
                        <div class="model">
                            <h4>SANSACHG<span>$249.00</span></h4>
                        </div>
                        <div class="model-info">
                            <select>
                                <option value="volvo">OPTION</option>
                                <option value="saab">Option</option>
                                <option value="opel">Option</option>
                                <option value="audi">Option</option>
                            </select>
                            <a href="bicycles.html">BUY</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="viw">
                        <a href="bicycles.html">Quick View</a>
                    </div>
                </li>
            </ul>
            <script type="text/javascript">
                $(window).load(function() {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 3,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover:true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint:480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint:640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint:768,
                                visibleItems: 3
                            }
                        }
                    });
                });
            </script>
            <script type="text/javascript" src="{{ asset('Front/js/jquery.flexisel.js') }}"></script>
        </div>
    </div>
    <!---->
    <!---728x90--->

{% endblock %}